*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.hum{
    width: 70px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    border: none;
    position: relative;
}
.hum span{
    position:absolute;
    width: 70px;
    height: 5px;
    background-color: #000;
    left: 0px;
    top:13px


}
.hum span::before {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #3fbff9;
    position: absolute;
    top: -8px;
    transition: .3s all;
}
.hum span::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #3fbff9;
    position: absolute;
    top: 8px;
    transition: .3s all;
}
.hum.change span{
    position: absolute;    
    width:70px;
    height:5px;
    background: transparent;
    left: 0;   
}
.hum.change span::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width:70px;
    height:5px;
    background: red;
    transform: rotate(-36deg);
}

.hum.change span::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width:70px;
    height:5px;
    background: red;
    transform: rotate(36deg);
}
